
Conhecimentos Básicos/O que é uma Pipeline/.ipynb_checkpoints/O que é uma Pipeline-checkpoint.ipynb
Conhecimentos Básicos/A linguagem Markdown/.ipynb_checkpoints/A linguagem Markdown-checkpoint.ipynb
Conhecimentos Básicos/Como usar o Jupyter Notebook/.ipynb_checkpoints/Jupyter Notebook-checkpoint.ipynb
Conhecimentos Básicos/Conhecendo melhor o GitHub/.ipynb_checkpoints/Conhecendo e utilizando o GitHub e o sistema Git-checkpoint.ipynb
Conhecimentos Básicos/O que é uma Pipeline/.ipynb_checkpoints/O que é uma Pipeline-checkpoint.ipynb
Conhecimentos Básicos/.ipynb_checkpoints/O que é uma Pipeline-checkpoint.ipynb
Conhecimentos Básicos/Conhecendo melhor o GitHub/.ipynb_checkpoints/Conhecendo e utilizando o GitHub e o sistema Git-checkpoint.ipynb
.idea/
Ciência de Dados/.ipynb_checkpoints/1. Como preparar e transformar dados usando Python-checkpoint.ipynb
Ciência de Dados/.ipynb_checkpoints/2. Análise de Dados - Medidas-checkpoint.ipynb
Ciência de Dados/.ipynb_checkpoints/3. Explorando os Dados - Correlação de Pearson e Spearman-checkpoint.ipynb
Conhecimentos Básicos/.ipynb_checkpoints/Instalando e utilizando o Jupyter Notebook-checkpoint.ipynb
