
Conhecimentos Básicos/O que é uma Pipeline/.ipynb_checkpoints/O que é uma Pipeline-checkpoint.ipynb
Conhecimentos Básicos/A linguagem Markdown/.ipynb_checkpoints/A linguagem Markdown-checkpoint.ipynb
Conhecimentos Básicos/Como usar o Jupyter Notebook/.ipynb_checkpoints/Jupyter Notebook-checkpoint.ipynb
Conhecimentos Básicos/Conhecendo melhor o GitHub/.ipynb_checkpoints/Conhecendo e utilizando o GitHub e o sistema Git-checkpoint.ipynb
Conhecimentos Básicos/O que é uma Pipeline/.ipynb_checkpoints/O que é uma Pipeline-checkpoint.ipynb
Conhecimentos Básicos/.ipynb_checkpoints/O que é uma Pipeline-checkpoint.ipynb
Conhecimentos Básicos/Conhecendo melhor o GitHub/.ipynb_checkpoints/Conhecendo e utilizando o GitHub e o sistema Git-checkpoint.ipynb
.idea/
